/* Show footnotes on mouseover */
.cm-inline-footnote:not(.cm-inline-footnote-start):not(.cm-inline-footnote-end),
.cm-active .cm-inline-footnote-start::after {
    display: none;
}
.cm-inline-footnote-start::after {
    content:'📒';
    opacity: 1;
    position: absolute;
    background: var(--background-color-default);
    left: 0;
    z-index: 99;
    width: 20px;
}
.cm-active .cm-inline-footnote:not(.cm-inline-footnote-start):not(.cm-inline-footnote-end) {
    display: inline;
}
.cm-inline-footnote-start {
    position: relative;
}
.cm-inline-footnote-start:hover + .cm-inline-footnote:not(.cm-inline-footnote-start):not(.cm-inline-footnote-end) {
    display: inline-block;
    position: absolute;
    background: var(--background-color-default);
    border: 1px solid var(--border-color-light);
    padding: 0.5rem;
    z-index: 999;
    left: auto;
    top: auto;
    margin-left: 0.5em;
    border-radius: 6px;
    box-shadow: 1px 1px 6px var(--border-color-light);
    max-width: 400px;
}
